{% extends "Partials/_base.html" %}
{% load static %}
{% block Title %}Lista de Productos{% endblock Title %}
{% block Style %}
<link rel="stylesheet" href="{% static 'js/datatable/jquery.dataTables.min.css' %}">
{% endblock Style %}
{% block Content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <span class="card-title">Categorías de Productos</span>
                <a href="{% url 'inventory_addProduct' %}">
                    <button class="btn btn-success float-right" data-toggle='modal' data-target='#modalCategory'>Agregar Producto</button>
                </a>
                <div class="table-responsive pt-4">
                    <table class="table display table-striped responsive dt-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    Imagen
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Categoría
                                </th>
                                <th>
                                    Precio
                                </th>
                                <th>
                                    Cantidad de Productos
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Acción
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock Content %}
{% block JavaScript %}
<script src="{% static 'js/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatable/dataTables.bootstrap4.min.js' %}"></script>
<script>
    var tableProduct = 
    $('.table').DataTable({
        "processing": true,
        "serverSide": true,
        "responsive": true,
        "ajax": {
            "url": "",
            "type": "POST",
            "data": {
                "csrfmiddlewaretoken": getCookie('csrftoken'),
                "action": 'datatable'
            },
        },
        "columns": [
            { "data": "image" },
            { "data": "name" },
            { "data": "category" },
            { "data": "price" },
            { "data": "quantity" },
            { "data": "status" },
            { "data": "action" },
        ],
        "columnDefs": [{
            "className": 'text-center',
            "targets": [4, 5],
        }],
        language: {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        "iDisplayLength": 10,
    });
    new $.fn.dataTable.FixedHeader(tableProduct);
    $(document).on('click', '.disable', function () {
        button = $(this);
        $.ajax({
            url: "{% url 'inventory_product' %}",
            type: "POST",
            data: {
                pk: button.parent().data('pk'),
                action: "disableCategory",
                csrfmiddlewaretoken: getCookie('csrftoken'),
            },
            success: function (data) {
                tableProduct.draw();
            },
        });
    });
    $(document).on('click', '.enable', function () {
        button = $(this);
        $.ajax({
            url: "{% url 'inventory_product' %}",
            type: "POST",
            data: {
                pk: button.parent().data('pk'),
                action: "enableCategory",
                csrfmiddlewaretoken: getCookie('csrftoken'),
            },
            success: function (data) {
                tableProduct.draw();
            },
        });
    });
    $(document).on('click', '.delete', function () {
        button = $(this);
        $.ajax({
            url: "{% url 'inventory_product' %}",
            type: "POST",
            data: {
                pk: button.parent().data('pk'),
                action: "deleteCategory",
                csrfmiddlewaretoken: getCookie('csrftoken'),
            },
            success: function (data) {
                tableProduct.draw();
            },
        });
    });
</script>
{% endblock JavaScript %}