{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block Title %}{% endblock Title %}</title>
  <link rel="stylesheet" href="{% static 'vendors/iconfonts/font-awesome/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.addons.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>
   {% block Style %}{% endblock Style %}
</head>
<body>
  <div class="container-scroller">
    {% include 'Partials/_navbar.html' %}
    <div class="container-fluid page-body-wrapper">
      {% include 'Partials/_sidebar.html' %}
      <div class="main-panel">
        <div class="content-wrapper">
          {% block Content %}{% endblock Content %}
        </div>
        {% include 'Partials/_footer.html'%}
      </div>
    </div>
  </div>
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <script src="{% static 'getCookie.js' %}"></script>
   {% block JavaScript %}{% endblock JavaScript %}
</body>
</html>
